body
{
    font-family:Verdana,Helvetica;
    font-size: 20px;
    text-align: center;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: center;
}



.botones
{	
	width: 90px;
	height: 30px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	font-size: 12px;
	border-color: purple;
	font-weight: bold;
	color:white;
	cursor: pointer;
	position: center;

}

.escenariocss{
	margin: 15px;
  	padding: 15px;
  	border-collapse: separate;
    border-spacing:  5px 15px;
	border:  black 3px solid ;
	background: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color : white;
	 
}
