body
{
    font-family:Verdana,Helvetica;
    font-size: 20px;
    text-align: center;
    background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: center;
}


.intro{
	background-color: purple;
	border-radius: 70px;
	border-style: inset;
}

.escenariocss{
	margin: 0 auto;
  	padding: 15px;
  	border-collapse: separate;
    border-spacing:  5px 15px;
	border:  black 3px solid ;
	color : white;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
}

.action-btn
{
	display: inline-block;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}

.red
{
	background: rgba(0, 0, 0, 0.5) !important;
	padding: 10px;
}
.green
{
	background: green !important;
	padding: 10px;
}

#timer
{
	display: none;
}
